<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--    error-->

    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/error/error500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/jsp/error/error.jsp</location>
    </error-page>

    <!--    common-->

    <servlet>
        <servlet-name>Main page</servlet-name>
        <jsp-file>/jsp/user/common/main.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main page</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Authentication page</servlet-name>
        <jsp-file>/jsp/user/common/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentication page</servlet-name>
        <url-pattern>/authentication</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Registration page</servlet-name>
        <jsp-file>/jsp/user/common/registration.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration page</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Registered page</servlet-name>
        <jsp-file>/jsp/user/common/registration_successful.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registered page</servlet-name>
        <url-pattern>/registration_successful</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SendMessage page</servlet-name>
        <jsp-file>/jsp/user/common/send_message.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMessage page</servlet-name>
        <url-pattern>/send_message</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SendMessageSuccessful page</servlet-name>
        <jsp-file>/jsp/user/common/message_sent_successful.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMessageSuccessful page</servlet-name>
        <url-pattern>/message_sent_successful</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConfirmationSuccessful page</servlet-name>
        <jsp-file>/jsp/user/common/confirmation_successful.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmationSuccessful page</servlet-name>
        <url-pattern>/confirmation_successful</url-pattern>
    </servlet-mapping>


    <!--show-->


    <servlet>
        <servlet-name>ShowCreate page</servlet-name>
        <jsp-file>/jsp/user/show/create_show.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowCreate page</servlet-name>
        <url-pattern>/show_create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowEdit page</servlet-name>
        <jsp-file>/jsp/user/show/edit_show.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowEdit page</servlet-name>
        <url-pattern>/show_edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowUpdated page</servlet-name>
        <jsp-file>/jsp/user/show/view_show_updated.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowUpdated page</servlet-name>
        <url-pattern>/show_updated</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowDelete page</servlet-name>
        <jsp-file>/jsp/user/show/delete_show.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowDelete page</servlet-name>
        <url-pattern>/delete_show</url-pattern>
    </servlet-mapping>


    <!--    film-->

    <servlet>
        <servlet-name>FilmEdit page</servlet-name>
        <jsp-file>/jsp/user/film/edit_film.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>FilmEdit page</servlet-name>
        <url-pattern>/film_edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FilmUpdated page</servlet-name>
        <jsp-file>/jsp/user/film/view_film_updated.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>FilmUpdated page</servlet-name>
        <url-pattern>/film_updated</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FilmCreate page</servlet-name>
        <jsp-file>/jsp/user/film/create_film.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>FilmCreate page</servlet-name>
        <url-pattern>/film_create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteFilm page</servlet-name>
        <jsp-file>/jsp/user/film/delete_film.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteFilm page</servlet-name>
        <url-pattern>/delete_film</url-pattern>
    </servlet-mapping>

    <!--    cinema-->

    <servlet>
        <servlet-name>CinemaCreate page</servlet-name>
        <jsp-file>/jsp/user/cinema/create_cinema.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CinemaCreate page</servlet-name>
        <url-pattern>/cinema_create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CinemaEdit page</servlet-name>
        <jsp-file>/jsp/user/cinema/edit_cinema.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CinemaEdit page</servlet-name>
        <url-pattern>/cinema_edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CinemaUpdate page</servlet-name>
        <jsp-file>/jsp/user/cinema/update_cinema.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CinemaUpdate page</servlet-name>
        <url-pattern>/cinema_update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CinemaDelete page</servlet-name>
        <jsp-file>/jsp/user/cinema/delete_cinema.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CinemaDelete page</servlet-name>
        <url-pattern>/cinema_delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CinemaRestore page</servlet-name>
        <jsp-file>/jsp/user/cinema/restore_cinema.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CinemaRestore page</servlet-name>
        <url-pattern>/cinema_restore</url-pattern>
    </servlet-mapping>

    <!--    genre-->

    <servlet>
        <servlet-name>GenreCreate page</servlet-name>
        <jsp-file>/jsp/user/genre/create_genre.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenreCreate page</servlet-name>
        <url-pattern>/genre_create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GenreEdit page</servlet-name>
        <jsp-file>/jsp/user/genre/edit_genre.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenreEdit page</servlet-name>
        <url-pattern>/genre_edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GenreUpdate page</servlet-name>
        <jsp-file>/jsp/user/genre/update_genre.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenreUpdate page</servlet-name>
        <url-pattern>/genre_update</url-pattern>
    </servlet-mapping>

    <!--    operation-->

    <servlet>
        <servlet-name>CreationSuccessful page</servlet-name>
        <jsp-file>/jsp/user/operation/creation_successful.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreationSuccessful page</servlet-name>
        <url-pattern>/creation_successful</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdatingSuccessful page</servlet-name>
        <jsp-file>/jsp/user/operation/updating_successful.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatingSuccessful page</servlet-name>
        <url-pattern>/updating_successful</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RestorationSuccessful page</servlet-name>
        <jsp-file>/jsp/user/operation/restoration_successful.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>RestorationSuccessful page</servlet-name>
        <url-pattern>/restoration_successful</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeletionSuccessful page</servlet-name>
        <jsp-file>/jsp/user/operation/deletion_successful.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletionSuccessful page</servlet-name>
        <url-pattern>/deletion_successful</url-pattern>
    </servlet-mapping>

    <!--    clients-->

    <servlet>
        <servlet-name>Clients page</servlet-name>
        <jsp-file>/jsp/user/client/clients.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Clients page</servlet-name>
        <url-pattern>/clients</url-pattern>
    </servlet-mapping>

</web-app>