<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--    error-->

    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/error/error500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/jsp/error/error.jsp</location>
    </error-page>

    <!--    common-->

    <servlet>
        <servlet-name>main_page</servlet-name>
        <jsp-file>/jsp/user/common/main.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>main_page</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>authentication_page</servlet-name>
        <jsp-file>/jsp/user/common/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>authentication_page</servlet-name>
        <url-pattern>/authentication</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration_page</servlet-name>
        <jsp-file>/jsp/user/common/registration.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration_page</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration_successful_page</servlet-name>
        <jsp-file>/jsp/user/common/registration_successful.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration_successful_page</servlet-name>
        <url-pattern>/registration_successful</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>send_message_page</servlet-name>
        <jsp-file>/jsp/user/common/send_message.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>send_message_page</servlet-name>
        <url-pattern>/send_message</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>message_sent_page</servlet-name>
        <jsp-file>/jsp/user/common/message_sent_successful.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>message_sent_page</servlet-name>
        <url-pattern>/message_sent_successful</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>confirmation_successful_page</servlet-name>
        <jsp-file>/jsp/user/common/confirmation_successful.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>confirmation_successful_page</servlet-name>
        <url-pattern>/confirmation_successful</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>password_changed_page</servlet-name>
        <jsp-file>/jsp/user/common/password_changed.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>password_changed_page</servlet-name>
        <url-pattern>/password_changed</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>password_forgotten_page</servlet-name>
        <jsp-file>/jsp/user/common/password_forgotten.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>password_forgotten_page</servlet-name>
        <url-pattern>/password_forgotten</url-pattern>
    </servlet-mapping>


    <!--show-->

    <servlet>
        <servlet-name>available_shows_page</servlet-name>
        <jsp-file>/jsp/user/show/shows.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>available_shows_page</servlet-name>
        <url-pattern>/shows</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>create_show_page</servlet-name>
        <jsp-file>/jsp/user/show/create_show.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>create_show_page</servlet-name>
        <url-pattern>/manager/show_create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>edit_show_page</servlet-name>
        <jsp-file>/jsp/user/show/edit_show.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>edit_show_page</servlet-name>
        <url-pattern>/manager/show_edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>view_show_updated_page</servlet-name>
        <jsp-file>/jsp/user/show/view_show_updated.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>view_show_updated_page</servlet-name>
        <url-pattern>/manager/show_updated</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delete_show_page</servlet-name>
        <jsp-file>/jsp/user/show/delete_show.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete_show_page</servlet-name>
        <url-pattern>/manager/delete_show</url-pattern>
    </servlet-mapping>

    <!--    film-->

    <servlet>
        <servlet-name>available_films_page</servlet-name>
        <jsp-file>/jsp/user/film/films.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>available_films_page</servlet-name>
        <url-pattern>/films</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>active_films_page</servlet-name>
        <jsp-file>/jsp/user/film/films_active.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>active_films_page</servlet-name>
        <url-pattern>/manager/films_active</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>edit_film_page</servlet-name>
        <jsp-file>/jsp/user/film/edit_film.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>edit_film_page</servlet-name>
        <url-pattern>/manager/film_edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>view_film_updated_page</servlet-name>
        <jsp-file>/jsp/user/film/view_film_updated.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>view_film_updated_page</servlet-name>
        <url-pattern>/manager/film_updated</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>create_film_page</servlet-name>
        <jsp-file>/jsp/user/film/create_film.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>create_film_page</servlet-name>
        <url-pattern>/manager/film_create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delete_film_page</servlet-name>
        <jsp-file>/jsp/user/film/delete_film.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete_film_page</servlet-name>
        <url-pattern>/manager/delete_film</url-pattern>
    </servlet-mapping>

    <!--    cinema-->

    <servlet>
        <servlet-name>create_cinema_page</servlet-name>
        <jsp-file>/jsp/user/cinema/create_cinema.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>create_cinema_page</servlet-name>
        <url-pattern>/manager/cinema_create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>edit_cinema_page</servlet-name>
        <jsp-file>/jsp/user/cinema/edit_cinema.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>edit_cinema_page</servlet-name>
        <url-pattern>/manager/cinema_edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>update_cinema_page</servlet-name>
        <jsp-file>/jsp/user/cinema/update_cinema.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>update_cinema_page</servlet-name>
        <url-pattern>/manager/cinema_update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delete_cinema_page</servlet-name>
        <jsp-file>/jsp/user/cinema/delete_cinema.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete_cinema_page</servlet-name>
        <url-pattern>/manager/cinema_delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>restore_cinema_page</servlet-name>
        <jsp-file>/jsp/user/cinema/restore_cinema.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>restore_cinema_page</servlet-name>
        <url-pattern>/manager/cinema_restore</url-pattern>
    </servlet-mapping>

    <!--    genre-->

    <servlet>
        <servlet-name>create_genre_page</servlet-name>
        <jsp-file>/jsp/user/genre/create_genre.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>create_genre_page</servlet-name>
        <url-pattern>/manager/genre_create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>edit_genre_page</servlet-name>
        <jsp-file>/jsp/user/genre/edit_genre.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>edit_genre_page</servlet-name>
        <url-pattern>/manager/genre_edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>update_genre_page</servlet-name>
        <jsp-file>/jsp/user/genre/update_genre.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>update_genre_page</servlet-name>
        <url-pattern>/manager/genre_update</url-pattern>
    </servlet-mapping>

    <!--    operation-->

    <servlet>
        <servlet-name>creation_successful_page</servlet-name>
        <jsp-file>/jsp/user/operation/creation_successful.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>creation_successful_page</servlet-name>
        <url-pattern>/creation_successful</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>updating_successful_page</servlet-name>
        <jsp-file>/jsp/user/operation/updating_successful.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>updating_successful_page</servlet-name>
        <url-pattern>/updating_successful</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>restoration_successful_page</servlet-name>
        <jsp-file>/jsp/user/operation/restoration_successful.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>restoration_successful_page</servlet-name>
        <url-pattern>/restoration_successful</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deletion_successful_page</servlet-name>
        <jsp-file>/jsp/user/operation/deletion_successful.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>deletion_successful_page</servlet-name>
        <url-pattern>/deletion_successful</url-pattern>
    </servlet-mapping>

    <!--    client-->

    <servlet>
        <servlet-name>clients_page</servlet-name>
        <jsp-file>/jsp/user/client/clients.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>clients_page</servlet-name>
        <url-pattern>/manager/clients</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>all_clients_page</servlet-name>
        <jsp-file>/jsp/user/client/all_clients.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>all_clients_page</servlet-name>
        <url-pattern>/manager/all_clients</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>edit_client_page</servlet-name>
        <jsp-file>/jsp/user/client/edit_client.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>edit_client_page</servlet-name>
        <url-pattern>/manager/edit_client</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>view_client_updated_page</servlet-name>
        <jsp-file>/jsp/user/client/client_updated.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>view_client_updated_page</servlet-name>
        <url-pattern>/manager/client_updated</url-pattern>
    </servlet-mapping>

    <!--    manager-->

    <servlet>
        <servlet-name>managers_page</servlet-name>
        <jsp-file>/jsp/user/manager/managers.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>managers_page</servlet-name>
        <url-pattern>/admin/managers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>all_managers_page</servlet-name>
        <jsp-file>/jsp/user/manager/all_managers.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>all_managers_page</servlet-name>
        <url-pattern>/admin/all_managers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>edit_manager_page</servlet-name>
        <jsp-file>/jsp/user/manager/edit_manager.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>edit_manager_page</servlet-name>
        <url-pattern>/admin/edit_manager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>view_manager_updated_page</servlet-name>
        <jsp-file>/jsp/user/manager/manager_updated.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>view_manager_updated_page</servlet-name>
        <url-pattern>/admin/manager_updated</url-pattern>
    </servlet-mapping>

    <!--    user-->

    <servlet>
        <servlet-name>all_users_page</servlet-name>
        <jsp-file>/jsp/user/user/all_users.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>all_users_page</servlet-name>
        <url-pattern>/admin/all_users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>edit_user_page</servlet-name>
        <jsp-file>/jsp/user/user/edit_user.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>edit_user_page</servlet-name>
        <url-pattern>/admin/edit_user</url-pattern>
    </servlet-mapping>

    <!--    <servlet>-->
    <!--        <servlet-name>appoint_manager_page</servlet-name>-->
    <!--        <jsp-file>/jsp/user/user/appoint_manager.jsp</jsp-file>-->
    <!--    </servlet>-->
    <!--    <servlet-mapping>-->
    <!--        <servlet-name>appoint_manager_page</servlet-name>-->
    <!--        <url-pattern>/admin/appoint_manager</url-pattern>-->
    <!--    </servlet-mapping>-->

    <servlet>
        <servlet-name>view_user_updated_page</servlet-name>
        <jsp-file>/jsp/user/user/user_updated.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>view_user_updated_page</servlet-name>
        <url-pattern>/admin/user_updated</url-pattern>
    </servlet-mapping>


</web-app>